block content
        header
          .header-content
            .header-content-inner
              h1 Fitness meets data science.
              |                 
              hr
              |                 
              p
                | FitLog allows you to easily log and track workouts.  Analyze your results and progress. Push yourself to be the best you can be, while you maximize your recovery.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Sign up now!
        |     